.tetris{
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  .tetris-board{
    height: 600px;
    width: 400px;
    background:grey;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
  
    .tetris-board-space{
      background-color: lightblue; /* Background color of grid items */
      border: 1px solid blue; /* Border around grid items */
      text-align: center; /* Center text within grid items */
      line-height: 100px; /* Vertical centering */
    }

    .tetris-board-space.selected{
      background-color:red;
    }
  }
}

